%article
  = simple_form_for(@article) do |f|
    = f.error_notification

    .form-inputs
      = f.input :title
      = f.input :body, as: :text, input_html: { class: %w{ markdown editor } }

    .form-actions
      = f.button :submit
