%article.article
  %header
    %h2= @article.title
    %nav
      = link_to 'edit', edit_article_path(@article), class: %w{ material-icons md-dark md-2em }
      = link_to 'arrow_back', articles_path, class: %w{ material-icons md-dark md-2em }

  = @article.body_html.html_safe

  %p
    %b Tags:
    = @article.tags
  %p
    %b Topics:
    = @article.topics
