!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bowersian
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = auto_discovery_link_tag :atom, { controller: :articles, action: :index }
    = csrf_meta_tags
  %body{ class: [ controller_name, action_name ] }
    %header#site-header
      %h1= link_to 'Bowersian', root_path
      %nav
        = link_to 'add', new_article_path, class: 'material-icons md-light md-3em'
    %main
      = yield
      %footer#notifications
        - if notice
          #notice= notice
        - if alert
          #alert= alert
